:root {
  /* Colours */
  --color-background: #FDFDOFD;
  --color-text: #272727;
  --color-accent: #007aff;
  --color-accent-action: #298962;

  /* Typography */
  --typo-font-size: 16px;
  --typo-line-height: 1.625;
  --typo-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /* Sizes */
  --size-side: 16px;

  /* Animations */
  --anim-ease-out: cubic-bezier(0.25, 1, 0.5, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #1e2123;
    --color-text: #dcdddd;
    --color-accent: #f7821b;
    --color-accent-action: #ffbf00;
  }
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--typo-font-family);
  font-size: var(--typo-font-size);
  line-height: var(--typo-line-height);
}

body {
  margin: 0;
}

button {
  font-family: inherit;
}

*,
*::first-letter {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  font-size: var(--typo-font-size);
  line-height: var(--typo-line-height);
}
